.header {
  position: sticky;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: #f4f9f4;
  transition: all 0.3s ease;
  z-index: 100;
}
header .nav-link {
  font-family: var(--font-roboto);
  font-size: 22px;
  font-weight: 400;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: #0ab2e5 !important;
}
.nav-link:hover {
  color: #0ab2e5 !important;
}

.has-search {
  position: relative;
}
.has-search input {
  background: transparent !important;
  border-radius: 5px !important;
  border: 1px solid #f97b17 !important;
}
.has-search .form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #f97b17;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(249, 123, 23, 0.25);
}
.has-search .form-control-feedback {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #333;
}
.header-search::placeholder {
  font-size: 15px;
}
.header-top {
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
}
.header-top .icon-txt {
  font-family: var(--font-roboto);
  font-size: 12px;
  font-weight: 400;
  margin-top: 0.3125rem;
}
.header-top .icon {
  font-size: 1.25rem;
}
.header-top .css-13cymwt-control {
  border-width: 0 !important;
}
