@media (max-width: 992px) {
  .navigationBar {
    box-shadow: var(--bs-box-shadow-sm) !important;
  }
  .section-title .title-paragraph {
    width: 75%;
  }
  .hero-section .section-title {
    padding-top: 175px;
  }
  /* hero arrow  */
  .swiper-button-prev,
  .swiper-button-next {
    top: 89%;
  }
  .swiper-button-prev:after,
  .swiper-button-next:after {
    font-size: 20px !important;
  }
  .swiper-button-prev {
    left: 30%;
  }
  .swiper-button-next {
    right: 30%;
  }
  .search-destination {
    align-items: flex-start !important;
    flex-direction: column !important;
    gap: 30px;
    padding-bottom: 30px;
    top: 100%;
  }
  .search-box-container {
    margin: 0;
  }
  .travel-type-btn {
    height: 40px;
    width: 100%;
  }
  .search-box-container {
    margin: 0 auto;
    top: 100%;
    left: 0;
  }
  /* destination component */
  .destination {
    padding-top: 450px;
  }
  section.destination .row {
    margin-top: 70px;
  }
}
@media (max-width: 768px) {
  .section-title .title-paragraph {
    width: 100%;
  }
  .hero-section .twin-button {
    top: 30px;
  }
  .section-title .title-heading {
    font-size: 45px;
  }
}
