.reviews {
  padding-top: 100px;
}
.review-item {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: #f4f9f4;
}
.review-item img {
  width: 100px;
  height: 100px;
}
.review-details h4 {
  font-family: var(--font-poppins);
  font-size: 22px;
  font-weight: 600;
}
.review-details li {
  font-size: 12px;
}
.review-details p {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-weight: 300;
}
